  
  .navbar {
    font-family: garamond;
    margin-bottom: 0;
    /*background-color: grey*/
    border: 0;
    font-size: 18px;
  }

  .navbar-brand{
    font-weight: bolder;
    font-size: 25px;

  }

  

 .navbar-nav li a:hover {
    color: #fff !important;
  }


  .navbar-nav li.active a {
    color: red !important;
    background-color: #29292c !important;
  }
  /*.navbar-default .navbar-toggle {
    border-color: red;
  }*/
  .open .dropdown-toggle {
    color: #fff;
    background-color: black;
  }
  .dropdown-menu li a {
    color: #000 !important;
  }
  .dropdown-menu li a:hover {
    background-color: grey !important;  /*sombra do submenu*/
  }


 body {
    font: 400 15px/1.8 Lato, garamond;
    color: black;
    background-color: black;
  }
  h2, h3 {
    margin: 10px 0 30px 0 auto;  
    font-size: 30px;
    color: black;
    font-weight: bolder;
  }

  p{
    font-size:20px;
    font-weight: bold;
  }

.container {
  padding: 80px 120px; /*deixa imagem centraliz na pagina*/
  }

.img-responsive {
    display:block;
    height: 350px; 
    width: 100%;
   }

.bg-1 {
    color: black;
  }

.carousel-inner img {
    width: 100%; 
    margin: auto;
    -webkit-filter: grayscale(50%);/*graduacao preto e branco*/
  }
  .carousel-caption h3 { /*cor dizeres do ccarrosel*/
    color: white;
    font-size:25px;
    font-family: garamond;
  }


#section1 {
   background-image: url("https://images.alphacoders.com/741/74173.jpg");
   border: 6px solid black; /*borda da pagina da secao*/
   opacity: 0.9;
   padding: 40px;

  }

#section2 {
 background-image: url("../img/guitar.jpg");/*usa mais um ponto p tornar cartella anterior*/
 border: 6px solid #333300;
 /*opacity: 0.7;*/
    
  }

  footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 12px;
  }